/* 
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}


.octodex {
    position: static;
    padding: 1em;
    -moz-column-count: 3;
    -moz-column-gap: 0em;
    -webkit-column-count: 3;
    -webkit-column-gap: 100em;
    column-count: 3;
    column-gap: 18em;
    display: flex;

}

.octocat {
    float: left;
    width: 150px;
    position: relative;
    top: 0px;
    left: 0px;  
}

.octocat a {
    font-weight: bold;
}

.octocat img {
    display: flex;
    width: 200px;
    height: 100px;
    margin: 1em;
    position: relative;
    top: 0px;
    left: 20px;
    resize: both;
    height: 400px;
    width: 400px;
    border: 2px solid rgb(197, 197, 200);
    box-sizing: border-box;
    size-adjust: 250%;
 
}

.image-footer {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(181, 173, 173);
    position: relative;
    top: -10px;
    left: 200px;
}

.image-number { 
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 150px;  
}

.image-caption {
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: 25px;
   display: flex;
}


.image-caption a { 
    left: 250px;
    display: flex;
    font-weight: bold;
    font-size: 15px;
} 

.authors a {
    position: absolute;
    display: flex;
    top: -30px;
    left: 125px;
}

.authors img {
    display: inline-flex;
    resize: both;
    height: 40px;
    width: 40px;
    border: 2px solid rgb(197, 197, 200);
} */

/* ------------ above is my original CSS --------------- */





/* in class work 8/31 */

/* -------------------------------- */

:root {
    --primary-gray: #c6bdbd;
}

ul {
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
}

.octodex {
    display: flex;
}

.octocat {
    flex: 1;
    margin: auto 15px;
}

.image-footer { 
    display: flex;
}

.authors > li > a {
    width: 30px;
    display: inline-block;
}

.image-caption {
    display: flex;
    margin-left: auto;
}

/* ---------above was second part------------ */
/* ----------------------------------- */



/* .octodex {
    display: inline-block;
    width: 99%;
    margin: 10px auto;
}

.octocat {
    display: inline-block;
    width: 30%;
}

.octocat > a {
    display: inline-block;
    border: solid 1px #E3601F;
    border-radius: 3px;
    position: relative;
}

.octocat > a::after {
    content: "";
    height: 0;
    width: 0;
    border-top: solid 10px #E3601F;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent ;
    position: absolute;
    top: 100%;
    right: 2%;
}

.image-number::before {
    content: "#";
}

.image-footer {
    border-bottom: 1px var(--primary-gray);
    padding: 15px;
    padding-bottom: 15px;
    position: relative;
    border-radius: 5px;
}

.authors > li > a {
    display: inline-block;
    width: 30px;
}

.image-caption {
    text-align: right;
}

.authors {
    display: inline-block;
}

.image-number {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.authors img {
    vertical-align: middle;
    border-radius: 5px;
} */
